[Unit]
Description=pistomachine-gpio host end

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'exec /usr/bin/pistomachine-gpio-serial -u /dev/uinput < /dev/ttyUSB0'

[Install]
WantedBy=multi-user.target
